    /* banner */
    .banner{
        height: 350px;
        background: url(img/banner1.jpg) no-repeat;
        background-size:cover; 
        position: relative;
    }
    .banner>img{
       width: 100%;
    }
    .banner_bottom{
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;   
    }
    .banner-df a{
        color: #fff ;
        margin: 0 auto;
        font-size: 0.8rem;
        display: flex;
    }
    .banner-df{
        display: flex;
        justify-content:space-between;
    }
    .banner-df>div{
        padding: 0.7rem;
        border-right: 0.03rem solid #999;
    }
    /* 图标宽度&&每个项目的宽度 */
    .banner-df>div,.banner-df img{
        width:20%;
    }
    /* 文本部分 */
    .banner-df>div div{
        padding-left:0.5rem; 
    }
    .banner-df span{
        font-size: 0.65rem;
    }
    /* 免费注册 */
    .banner-df a:last-child{
        justify-content: space-around;
   }
   .banner-df>div div:last-child{
    padding-left:0; 
    }
    /* 社区团购系统 */
    .system{
        color: #fff;
        margin-top:3rem !important; 
        display: flex;
        justify-content: space-between;
    }
    .system>div{
        width:37%;
        padding: 1rem 3rem;
        display: flex;
        flex-flow:column nowrap;
        align-items: center; 
    }
    /* 社区团购系统 */
    .system>div:first-child{
        background:url(img/bg1.png) no-repeat;
        background-size: cover;
    }
    /* 新零售·门店通 */
    .system>div:last-child{
        background:url(img/bg2.png) no-repeat;
        background-size: cover;
    }
    .system>div:first-child a,.system>div:last-child a{
        font-size: 0.6rem;
        border: 0.1rem solid #fff;
        padding: 0.3rem 0.7rem;
        border-radius: 0.2rem;
    }
    /* 左边免费注册 */
    .system>div:first-child a:nth-child(2){
        background: #0A6DEE;
        border: 0.1rem solid #0a6dee;  
    }
    /* 右边免费注册 */
    .system>div:last-child a:nth-child(2){
        background: #fff;
        color: #0a6dee;
        border: 0.1rem solid #fff;
    }
    .system>div div{
        margin: 1rem;
    }
    .system h1,.system p,.system a{
        margin: 0.2rem;
        color: #fff;
    }
    .system p{
        font-size: 0.8rem;
    }
    /* 商城系统 */
    .shopSystem{
        margin-top:3rem !important;
        margin-bottom:10rem !important;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
    }
    /* h3 */
    .shopSystem h3{
        color: #343434;
        font-weight: 400;
        font-size: 1.5rem;
    }.shopSystem p{
        color: #5c5c5c;
        font-size: 0.7rem;
        margin:0.5rem 0; 
    }
    .shopSystem span{
        color: #F33205;
        font-size: 0.8rem;

    }
     /* 零售系统a 标签 */
     .shopa{
        margin-top:1rem;
        margin-bottom: 2rem;
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .shopa a{
        font-size: 0.7rem;
        background: #fff;
        color: #000;
        padding: 0.3rem 1rem;
        border-radius: 0.8rem;
        transition: 0.4s;
    }
    .shopa a:first-child{
        background: #0A6DEE;
        color: #fff;
        padding: 0.3rem 1rem;
        border-radius: 0.8rem;
    }
    .shopa a:hover{
        background: #0A6DEE;
        color: #fff;
        padding: 0.3rem 1rem;
        border-radius: 0.8rem;
    }
    /* 移动云商场 */
    .shopMenu{
        display: flex;
        justify-content: space-around;
        
    }
    .shopMenu img{
        width: 80%;
        margin-bottom:0.5rem;
        margin-top:1rem; 
    }
    /* 蓝色-移动云商城 */
    .cloudShop>div:first-child{
        background: #0a6dee;
        padding: 2rem 4rem;
        box-shadow: #0A6DEE 0.2rem 0rem 1rem;
    }
    .cloudShop>div:last-child{
        padding: 2rem 0.5rem 2rem 3rem;
        font-size: 0.8rem;
        box-shadow: #0A6DEE 0.2rem 0.2rem 1rem;
    }
    .cloudShop>div:last-child h3{
        color: #0A6DEE;
        font-weight: 600;
        padding-bottom: 1rem;
    }
    .cloudShop>div:last-child li{
        list-style: disc;
        padding: 0.5rem 0;
    }
    .a-btn{
        display: inline-block;
        font-size: 1rem;
        padding:0.4rem 1rem;
        margin-top: 1rem; 
        border: 0.05rem solid #bfbfbf;
        border-radius: 0.3rem;
        transition: 0.4s;
    }
    .a-btn:hover{
        background: #0A6DEE;
        color: #fff;
        border: 0.05rem solid #0A6DEE;
    }
    .cloudShop>div p{
        color: #fff;
        font-size: 1rem;
        margin-bottom:1rem;
    }
    .shopOthers,.cloudShop>div:first-child{
        text-align: center;
        
    }
    /* 其他三个 */
    .shopOthers>div:first-child{
        background: #f3f3f3;
        margin-top: 2rem;
        padding: 2rem 0;
        border: 1px solid #E5E5E5;
    }
    .shopOthers>div:first-child p{
        font-size: 0.9rem;
        color: #000;
    }
    .shopOthers>div:last-child{
        padding-top:4rem;  
        padding-bottom: 3rem; 
        border: 1px solid #E5E5E5; 
    }
    .shopOthers>div:last-child p{
        font-size: 0.9rem;
        padding: 0.2rem;
        color: #8d8d8d;
    }