/*清除内外边距  */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
p,
ul,
li,
ol,
dl,
dt,
dd,
img,
input,
em,
i,
a {
    margin: 0;
    padding: 0;
}
/*让所有斜体 不倾斜*/
em,
i {
    font-style: normal
}
/*去掉列表前面的小点*/
li {
    list-style: none
}
/*图片没有边框   去掉图片底侧的空白缝隙*/
img {
    border: 0;  /*ie6*/
    vertical-align: middle
}
/*让button 按钮 变成小手*/
button {
    cursor: pointer
}
/*取消链接的下划线*/
a {
    color: #000;
    text-decoration: none
}

a:hover {
    text-decoration: none;
}

button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', 'tahoma', 'arial', 'Hiragino Sans GB';
    border: none;
    outline: none;
    vertical-align: middle;
}
.width{
    width: 70%;
    margin: 0 auto;
}
.d-between{
    display: flex;
    justify-content:space-between;
}
