body{
    background: #f6f6f6;
}
.column{
    flex-flow: column nowrap;
    align-items: center;
}
.title>h1{
    padding-top: 4rem;
    font-weight: 300;
}
.list{
    padding: 4rem 0;
    justify-content: space-around;
}
.item{
    width:250px;
    border:1px solid #d7d8d9;
    padding:2rem;
    background:#fff;
}
.item>p{
    font-size: 1.2rem;
    padding: 1rem 0;
}
.item>span{
    padding: 0.5rem 0;
}