    

    .head{
        position: relative;
    }
    .head>div{
        background: #f2f2f2;
    }
    /* 头部热线 */
    .width{
        width: 70%;
        margin: 0 auto;
    }
    .head_top {
        padding: 0.3rem 0;
        flex-flow: row wrap;
    }
    .head_top p,.head_top li{
        font-size: 0.8rem;
        float: left;
    }
    .head_top li{
        color: #EB1308;
        padding-left:0.5rem; 
    }
    /* 头部logo&&导航栏 */
    .nav {
        align-items: center;
        padding: 1rem 0;
    }
    .nav a{
        font-size: 1rem;
        
        vertical-align: middle;
    }
    /* logo图片样式 */
    .nav a:first-child img{
        width: 100%;
    }
    .drop_img{
        width: 12%;
    }
    /* 登录 */
    .nav a:nth-child(9){
        font-size: 1rem; 
        padding: 0.1rem 1.3rem; 
        border: 0.05rem solid #999;  
        border-radius: 0.2rem;
        align-self: flex-end;
        transition: 0.4s;
    }
    .nav a:nth-child(7){
        color: #EB1308;
    }
    .nav a:nth-child(9):hover{
        background: #0A6DEE;
        color: #fff;
        border: 0.05rem solid #0A6DEE;
    }
    .nav a:nth-child(2):hover,
    .nav a:nth-child(3):hover,
    .nav a:nth-child(4):hover,
    .nav a:nth-child(5):hover,
    .nav a:nth-child(6):hover,
    .nav a:nth-child(8):hover{
        color: #0A6DEE;
    }
    
    /* 注册 */
    .nav a:last-child{
        font-size: 1rem;
        border: 0.05rem solid #0A6DEE; 
        padding: 0.1rem 0.3rem;
        border-radius: 0.2rem;
        background: #0A6DEE;
        color: #fff;    
        align-self: flex-end;  
    }
    /* 下拉菜单栏 ——商城系统*/
    @keyframes down{
        0%{ height:0px }
        100%{ height:430px }
    }
    @keyframes up{
        0%{ height:430px }
        100%{ height:0px; padding-bottom:0rem; }
    }
    .dropMenu-shop.down,.dropMenu-solution.down{
        display: block;
        animation: down 0.4s;
    }
    .dropMenu-shop.up,.dropMenu-solution.up{
        display: block;
        animation: up 0.4s;
    }
    .dropMenu-shop.active,.dropMenu-solution.active{
        z-index: 99;
    }
    .dropMenu-shop{
        width: 100%;
        display: none;
        background: #F2F2F2;
        padding-bottom:2rem;
        position: absolute;
        top:84px;
        overflow: hidden;
    }
    /* 下拉菜单栏标题部分 */
    .dropTitle>p{
        width: 25%;
        font-size: 1.5rem;
        padding:1rem 3rem;
        margin-top:2rem;
    }
    .dropTitle>p:nth-child(2),
    .dropTitle>p:nth-child(4),{
        background: #dcdcdc;
    }
    .dropTitle>p:nth-child(1),
    .dropTitle>p:nth-child(3),
    .soluTitle>p:nth-child(1),
    .soluTitle>p:nth-child(3){
        background: #e9e9e9;
    }
    .dropTitle>p:nth-child(1),.soluTitle>p:nth-child(1){
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    .dropTitle>p:nth-child(4),
    .soluTitle>p:nth-child(4),
    .soluTitle>p:nth-child(3){
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    /* 菜单栏详情页 */
    .dropDetails{
        padding-bottom: 1rem;
    }
    .dropDetails>a{
        width:25%;
        padding: 1rem 3rem;
    }
    .dropDetails>a span{
        font-size: 1.2rem;
        font-weight: 600;
    }
    .dropDetails>a em{
        width: 100%;
        height: 0.1rem;
        background: #dcdcdc;
        margin: 1rem 0;
        display: block;
    }
    .dropDetails>a p{
        color: #5d5d5d;
        font-size: 0.8rem;
    }
    .hidden{
        visibility: hidden;
    }
    .dropMore>a{
        float: right;
        color: #0A6DEE;
    }
    .dropMore>a:hover{
        text-decoration: underline;
    }
    /* 下拉菜单栏——解决方案 */
    .dropMenu-solution{
        width: 100%;
        background: #F2F2F2;
        padding-bottom:2rem;
        position: absolute;
        top:84px;
        overflow: hidden;
        display: none;
    }
    .soluTitle>p{
        width: 33%;
        font-size: 1.5rem;
        padding:1rem 3rem;
        margin-top:2rem;
    }
    .soluTitle>p:nth-child(2){
        background: #dcdcdc;
    }
    .soluDetails>a em{
        width: 100%;
        height: 0.1rem;
        background: #dcdcdc;
        margin: 0.5rem 0;
        display: block;
    }
    .soluDetails{
        padding-bottom: 0rem;
    }

    /* 1400px~1600px */
    @media screen and (max-width:1600px){
        @keyframes down{
            0%{ height:0px }
            100%{ height:410px }
        }
        @keyframes up{
            0%{ height:410px }
            100%{ height:0px; padding-bottom:0rem; }
        }
        .dropTitle>p,.soluTitle>p{
            font-size: 1.1rem;
        }
        .dropDetails{
            padding: 0;
        }
        .dropDetails>a{
            padding: 1rem 2rem;
        }
    }
    @media screen and (max-width:1450px){
        @keyframes down{
            0%{ height:0px }
            100%{ height:450px }
        }
        @keyframes up{
            0%{ height:450px }
            100%{ height:0px; padding-bottom:0rem; }
        }
        .head_top>p,.head_top>ul{
            width:100%;
        }
        .head_top li{
            padding: 1rem 0;
        }
        .nav a:first-child{
            width: 25%;
        }
        .nav a,.nav a:last-child,.nav a:nth-child(9){
            font-size: 0.9rem;
        }
        .nav a:nth-child(9){
            padding: 0.1rem 1rem;
        }
        .dropTitle>p{
            padding: 1rem 1rem;
        }
        .dropDetails>a span {
            font-size: 1rem;
        }

    }
    

    
    
    