    .h3{
        color: #343434;
        font-weight: 400;
        font-size: 2rem;
    }
    .p{
        color: #5c5c5c;
        font-size: 1rem;
        margin:0.8rem 0; 
    }
    /* banner */
    .banner{
        /* background: url(img/banner1.jpg) no-repeat; */
        position: relative;  
    }
    .banner>img{
        position: absolute;
        top: 0;
        width: 100%;
        opacity: 0.5;
        transition: all 0.5s;
    }
    .banner>img.active{
        z-index: 10;
        opacity: 1;
    }
    /* 小圆点 */
    .list{
        position: absolute;
        z-index: 20;
        bottom: 5rem;
        left:50%;
        display: inline-block;
    }
    .item{
        width: 1rem;
        height:1rem;
        border: 1px solid #fff;
        border-radius: 50%;
        float: left;
        margin-left:1rem;
        cursor: pointer;
        transition: 0.4s;
    }
    .item.active{
        background:#fff;
    }
    /* 按钮 */
    .banner>button{
        width:4rem;
        height:4rem;
        color: #666;
        font-size: 1.5rem;
        background: rgba(0,0,0,0.4);
        border:1px solid #666;
        border-radius: 50%;
        position: absolute;
        z-index: 20;
        transition: 0.4s; 
    }
    #prev{
        left:5rem;
    }
    #next{
        right:5rem;
    }
    .banner>button:hover{
        color: #fff;
        border: 1px solid #fff;
    }
    .banner_bottom{
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 0;
        z-index: 20;
    }
    .banner-df a{
        color: #fff ;
        margin: 0 auto;
        display: flex;
    }
    .banner-df>div{
        padding: 1rem 0.7rem;
        border-right: 0.03rem solid #999;
    }
    .banner-df>div:hover{
        background: rgba(255,255,255,0.2)
    }
    /* 图标宽度&&每个项目的宽度 */
    .banner-df>div,.banner-df img{
        width:20%;
    }
    /* 文本部分 */
    .banner-df>div div{
        padding-left:0.5rem; 
    }
    .banner-df span{
        font-size: 0.8rem;
    }
    /* 免费注册 */
    .banner-df a:last-child{
        justify-content: space-around;
   }
   .banner-df>div div:last-child{
    padding-left:0; 
    }
    /* 社区团购系统 */
    .system{
        color: #fff;
        margin-top:3rem !important; 
    }
    .system>div{
        width:40%;
        padding: 1rem 3rem;
        display: flex;
        flex-flow:column nowrap;
        align-items: center; 
    }
    /* 社区团购系统 */
    .system>div:first-child{
        background:url(img/bg1.png) no-repeat;
        background-size: cover;
    }
    /* 新零售·门店通 */
    .system>div:last-child{
        background:url(img/bg2.png) no-repeat;
        background-size: cover;
    }
    .system>div:first-child a,.system>div:last-child a{
        font-size: 1rem;
        border: 0.1rem solid #fff;
        padding: 0.5rem 0.7rem;
        border-radius: 0.2rem;
    }
    /* 左边免费注册 */
    .system>div:first-child a:nth-child(2){
        background: #0A6DEE;
        border: 0.1rem solid #0a6dee;  
    }
    /* 右边免费注册 */
    .system>div:last-child a:nth-child(2){
        background: #fff;
        color: #0a6dee;
        border: 0.1rem solid #fff;
    }
    .system>div div{
        margin: 1.5rem;
    }
    .system h1,.system p,.system a{
        margin: 0.5rem;
        color: #fff;
    }
    .system p{
        font-size: 1.1rem;
    }
    /* 商城系统 */
    .shopSystem{
        margin-top:3rem !important;
        margin-bottom:3rem !important;
        flex-flow: column nowrap;
        align-items: center;
    }
    /* h3 */ 
    .shopSystem p{
        color: #5c5c5c;
        font-size: 1rem;
        margin:0.8rem 0;
    }
    .shopSystem span{
        color: #F33205;
        font-size: 1.1rem;

    }
     /* 零售系统a 标签 */
    .shopa{
        margin-top:1rem;
        margin-bottom: 2rem;
        width: 70%;
        align-items: center;
    }
    .shopa a{
        font-size: 1.2rem;
        background: #fff;
        color: #000;
        padding: 0.3rem 1rem;
        border-radius: 0.8rem;
        transition: 0.4s;
    }
    .shopa a:first-child{
        background: #0A6DEE;
        color: #fff;
        padding: 0.3rem 1rem;
        border-radius: 0.8rem;
    }
    .shopa a:hover{
        background: #0A6DEE;
        color: #fff;
        padding: 0.3rem 1rem;
        border-radius: 0.8rem;
    }
    /* 移动云商场 */
    .shopMenu{
        width: 100%; 
        height:525px; 
    }
    .shopMenu img{
        width: 70%;
    }
    /* 蓝色-移动云商城 */
    .cloudShop{
        width: 34%;
        transition: 0.4s;
        overflow: hidden;
    }
    /* 蓝色-移动云商城 */
    .cloudShop>div:first-child{
        padding: 3rem 1rem;
        background: #0a6dee;
        
    }
    .cloudShop>div:last-child{
        padding: 2rem 1rem 2rem 4rem;
        border: 0.05rem solid #0a6dee;
        border-top: none;
        box-shadow: 0 0 1rem rgba(0, 198, 226, 0.5);
    }
    .cloudShop>div:last-child h3{
        font-size: 1.5rem;
        color: #0A6DEE;
        font-weight: 600;
    }
    .cloudShop>div:last-child li{
        list-style: disc;
        font-size: 0.8rem;
        padding: 0.7rem 0;
    }
    .a-btn{
        display: inline-block;
        font-size: 1rem;
        padding:0.5rem 1.5rem;
        margin-top: 1rem; 
        border: 0.05rem solid #bfbfbf;
        border-radius: 0.3rem;
        transition: 0.4s;
    }
    .a-btn:hover{
        background: #0A6DEE;
        color: #fff;
        border: 0.05rem solid #0A6DEE;
    }
    .cloudShop>div p{
        color: #fff;    
    }
    .shopOthers,.cloudShop>div:first-child{
        text-align: center;  
    }
    /* 其他三个 */
    .shopOthers{
        width: 22%;
        margin-top:2rem; 
        transition: 0.4s;
    }
    .shopOthers>div:first-child{
        background: #f3f3f3;
        padding: 2.5rem   1rem;
        border-right: 0.05rem solid #E5E5E5;
        border-top: 0.05rem solid #E5E5E5;
    }
    .shopOthers>div:first-child p{
        font-size: 1rem;
        color: #000;
    }
    .shopOthers>div:last-child{
        padding: 2.5rem   1rem;
        border-right: 0.05rem solid #E5E5E5;
        border-bottom: 0.05rem solid #E5E5E5;  
    }
    .shopOthers>div:last-child p{
        color: #8d8d8d;
    }

    /* 移动云商城用于JS */
    .shopOthers.none,.cloudShop.none{
        display: none;
    }
    .shopOthers.active,.cloudShop.active{
        animation: changWidth 0.4s linear;
    }
    @keyframes changWidth{
        0%{ width:32%;}
        100%{ width:34%;}
    }
    /* 微信营销小程序 */
    .wechat img{
        width: 80%;
    }

    .wechat>div:first-child{
        text-align: center;
    }
    .wechat>div:last-child{
        margin: 3rem 0;
    }
    .wechat_logo{
        width: 10%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        overflow: hidden;
    }
    .wechat_logo p{
        font-size: 1.1rem;
        padding: 0.5rem;
    }
    .wechat_logo span{
        font-size: 0.8rem;
        padding: 0 0.5rem;
        color: #8d8d8d;
    }
    .wechat_logo a{
        /* display:none; */
        color: #0f5ec5;
        border:0.1rem solid #0a6dee;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        margin-top:1rem;
        position: relative;
        bottom:-3rem;
        transition:all 0.4s linear;
    }
    @keyframes wechat{
        0%{ height:0px}
        100%{ height:0px}
    }
    /* 解决方案 */
    .solution>div:first-child{
        text-align: center;
        padding-top: 3rem;
        margin-bottom: 3rem;
    }
    .solution>div:first-child a{
        float: right;    
    }
    .solution>div:first-child a:hover{
        text-decoration: underline; 
    }
    /* 黑色横条 */
    .solution>div:first-child div{ 
        width: 5%;
        margin: 0 auto;
        clear: both;
        border:0.23rem solid #858585;   
    }
    /* 横线 */
    .solution>div:first-child span{
        display: block;
        width:100%;
        border:0.05rem solid #E5E5E5;
    }
    /* 解决方案-下方图片部分 */
    .solution-img{
        margin-bottom: 4rem;
    }
    .solution-img>div{
        width: 25%;
        text-align: center;
        border-right: 1px solid #fff;
        overflow: hidden;
        position: relative;
    }
    .solution-img>div>img{
        width: 100%;
    }
    .solution-img>div>p{
        background: #343434;
        color: #fff;
        padding: 2rem 1rem;
        font-size: 1.5rem;
    }
    /*蓝色详情部分*/
   
    .soluBlue{
    	background: #0A6DEE;
    	color: #fff;
    	padding: 2rem 1rem;
    	position:absolute;
        top:28rem;
        transition: all 0.4s;
    }
    .soluBlue.top{
        top:0rem;
    }
    .soluBlue>h3{
    	font-size: 1.5rem;
    	margin:1rem;
    }
    .soluBlue>p{
    	margin:2rem;
    }
    .soluBlue>a{
    	display: inline-block;
    	margin:1.65rem;
    	padding: 0.7rem 2rem;
    	background: #fff;
    	color: #0A6DEE;
    	border-radius: 0.5rem;
    }
    /* 客户案例 */
    .cases{
        margin-top:4rem;
        padding-top: 3rem;
        background: #404040;
        position: relative;
    }
    .cases-logo>div{
        width: 100%;
        height:92px;
        margin:1rem 0;
    }
    /* 图标透明度设置 */
    .cases-logo>div>div{
        opacity: 0.5;
    }
    /* 图片选中class，用于JS操作 */
    .img-unchecked.active{
        opacity: 1 !important;
    }
    .img-unchecked.active>img:first-child{
        border:0.15rem solid #0A6DEE;
    }
    /* 倒三角图标 */
    .img-unchecked.active>img:last-child{
        display: block;
        margin: 0 auto;
        margin-top:-0.1em;
    }
    /* 未选中的div，倒三角隐藏 */
    .img-unchecked>img:last-child{
        display: none;
    }
    /* 展示详情—茅台酒 */
    .cases-details{
        color: #fff;
        padding: 5rem 0;
        /* border: 2px solid #0A6DEE; */
    }
    .cases-details>table>tbody>tr>th{
        text-align: left;
        font-size: 2rem;
    }
    .cases-details>table>tbody>tr>td{
        padding:0.5rem 0;
        text-align: left;
        vertical-align: baseline;
        width:8%;
    }
    .cases-details>table>tbody>tr>td:last-child{
        width:100%;
    }
    .cases-details>table{
        padding:2rem; 
    }
    /* 了解详情 */
    .btns{
        color: #fff;
        background: #F33205;
        border: 0.05rem solid #F33205;
    }
    /* 我们的优势 */
    .solution>div>p>red{
        color: #F33205;
        font-size: 1.1rem;
    }
    .advantage>div{
        text-align: center;
        padding: 1rem 3rem;
    }
    .advantage>div h3{
        font-size: 1.5rem;
        font-weight: 400;
        margin:1rem 0;
    }
    .advantage>div p{
        font-size: 0.8rem;
        color: #8d8d8d;
        margin-bottom:3rem;
    }
    /* 增值服务 */
    .service{
        background:url(img/fl06_bg.jpg) center bottom no-repeat#1a65c5;
        padding-bottom:5rem; 
    }
    /* 增值服务的标题文本 */
    .serTitle>h3{
        color: #eff2f9;
    }
    .serTitle>p,
    .serTitle>a{
        color: #bbc9e5;
    }
    .serTitle>div{
        border:0.2rem solid #a3bfe3 !important;
    }
    .serTitle>span{
        border:0.05rem solid #a3bfe3 !important;
    }

    /* 增值服务图片logo */
    .serImg{
        text-align: center;
        color: #fff;
    }
    .serImg>h3{
        font-size: 1.5rem;
        margin:1rem 0;
        font-weight: 400;
    }
    .serImg>span,.serImg>a{
        display: none;
    }
    /* 增值服务鼠标移入class */
    .serChecked{
        width: 100%;
        text-align: center;
        background-color: #fff;
        border-radius: 50%;
        padding:2.05rem 0rem;
        display: block;
    }
    .serChecked>h3{
        color: #0A6DEE;
    }
    .serChecked>span{
        display: inline-block;
        width: 75%;
        margin-top:1rem;
    }
    .serChecked>img{
        display:none;
    }
    .serChecked>a{
        display:block;
        color: #F33205;
        margin-top:1rem;
    }
    .checFather{
        width:17%;
        padding: 0.5rem 0.5rem;
        border: 1px solid #fff;
        border-radius: 50%;
    }
    .checFatherDn{
        border:none;
    }
    /* 图片logo设高 */
    .service>div:last-child{
        height:15.5rem;
    }

    /* 电商学院 */
    .media{
        width:31%;
        padding: 2rem 0;
        flex-flow: column nowrap;
    }
    .media>p,.news>p:first-child{
        padding: 0.5rem 0;
        margin-bottom: 1rem;
        font-size: 1.4rem;
        background: url(img/ar_t_bg.jpg) left bottom no-repeat;
    }
    .media>a{
        padding: 1rem 0;
        transition: 0.4s;
    }
    .media>a:hover,.news-bg a:hover{
        color: #0A6DEE; 
    }
    .media a:last-child,.news>a:last-child{
        color: #0A6DEE; 
        align-self: flex-end;
        margin-top: 1rem;
    }
    .media a:last-child:hover,.news>a:last-child:hover,.news>div+div a:hover{
        text-decoration: underline;
    }
    .media>span{
        font-size: 0.9rem;
        color: #8d8d8d;
    }
    .media>img{
        transition: all 0.6s;
    }
    .media.active>img{
        transform: scale(1.1,1.1);
    }
    /* 第二行电商资讯 */
    .news{
        width: 31%;
        flex-flow: column nowrap;
        padding-bottom: 4rem;
    }
    .news-bg{
        background: #F2F2F2;
        padding: 2rem 1rem 0rem 1rem;
    }
    .news-bg a{
        font-weight: 600;
        transition: 0.4s;
    }
    .news-bg>p{
        font-size: 0.8rem;
        margin:1rem 0;
    }
    .news>div>em{
        display: block;
        width: 0.3rem;
        height: 0.3rem;
        background: #666666;
        margin: 0.5rem 0.8rem;
        float: left;
    }
    .news>div+div{
        margin-top:1rem;
    }
    .news>div+div a{
        color: #585858;
        font-size: 0.9rem;
    }
    /* 合作伙伴 */
    .partner{
        background: #F7F7F7;
    }
    .partner>div:last-child{
        padding-bottom:4rem; 
    }

    /* 1400px~1600px */
    @media screen and (max-width:1600px){
        /* 商城系统 */
        .cloudShop>div:last-child h3{
            font-size: 1.2rem;        
        }
        .shopOthers>div:first-child p{
            font-size: 0.8rem;
        }
        .shopSystem p{
            font-size: 0.9rem;
        }
        .cloudShop>div:last-child {
            padding: 2rem 0rem 2rem 1.5em;
        }
        /* 微信小程序 */
        .wechat_logo{
            width: 13%;
        }
        /* 解决方案 */
        .solution-img>div>p{
            padding: 2rem 0;
        }
        .soluBlue>h3{
            font-size: 1.2rem;
        }
        .soluBlue>p {
            margin: -0.rem;
            font-size: 0.9rem;
        }
        /* 增值服务 */
        .checFather{
            width: 21%;
        }
        .service>div:last-child{
            height: 15.3rem;
        }
       /* 客户案例 */
       .cases-details>table>tbody>tr>td{
           width:12%;
       }
       .cases-details>table {
            padding: 2rem 1rem;
        }
        .img-unchecked.active>img:last-child{
            margin-top: -0.15rem;
        }

    }

    /* 1400px */
    @media screen and (max-width:1400px){
        .banner-text>b{
            font-size: 0.8rem;
        }
        .banner-df span {
            font-size: 10px;
        }
        .system>div {
            width: 49%;
            padding: 1rem 0rem;
        }
        .system p {
            font-size: 0.9rem;
        }
        .cloudShop>div:last-child {
            padding: 1rem 0rem 1rem 1.5em;
        }
        .cloudShop>div:first-child {
            padding: 2rem 1rem;
        }
        .shopSystem p {
            font-size: 0.8rem;
        }
        .solution-img>div>p{
            font-size: 1.1rem;
        }
        .soluBlue>p {
            margin: 0rem;
        }
        .soluBlue>h3{
            font-size: 1rem;
            margin:1rem 0;
        }
        .soluBlue>a{
            padding: 0.7rem 1rem;
        }
        .cases-logo>div>div{
            width:16%;
        }
        .cases-logo>div>div>img:first-child{
            width:100%;
        }
        .cases-details>img{
            width: 60%;
            height: 300px;
        }
        .cases-details>table>tbody>tr>td {
            width: 17%;
            font-size: 0.9rem;
        }
        .cases-details>table {
            padding: 2rem 0rem 2rem 1rem;
        }
        .serChecked{
            padding: 2.05rem 0rem;
        }
        .checFather {
            width: 31%;
        }
    }